@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 767px) {
    .createPoll-modal-container {
        height: 94%;
    }
}

@media screen and (min-width: 1339px) {
    .ThreadDataCont {
        height: 79.6%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5d368f;
    border-radius: 5px;
}